.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

h1 {
  font-family: "Brown Regular";
  font-weight: 800;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
  color: #212121;
}


h2 {
  font-family: 'Muli', sans-serif;
}

p {
  font-family: "Brown Regular";
}
