h1 {
  font-weight: 800;
  font-size: calc(30px + (30-20) * (100vw - 400px)/(800-400));
  line-height: calc(35px + (35-25) * (100vw - 400px)/(800-400));
  text-align: center;
  letter-spacing: 1px;
}

h3 {
  font-weight: 300;
  font-size: 40px;
  line-height: 45px;
  text-align: left;
  letter-spacing: 0.5px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  line-height: 15px;
  text-align: left;
}


p {
  font-family: "Brown Regular";
}
