.content {
  padding: 20px 100px 150px;
}


.quote {
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  font-size: calc(25px + (25-20) * (100vw - 400px)/(800-400));
  line-height: calc(30px + (30-20) * (100vw - 400px)/(800-400));
}

#particles-js{
  background-color:black;
}

.bg-black {
  background-color: #212121;
  padding: 150px 0;
  color: white;
}


