@import url('https://fonts.googleapis.com/css?family=Muli');

@font-face {
  font-family: "Brown Regular";
  src: url(/assets/Brown-Regular.otf) format("truetype");
}

.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  z-index: 10;
}

.vertical-center {
  display: flex;
  align-items: center;
}


.padded {
  padding: 30px 0;

.position-fixed {
    position: fixed;
}

