<div class="navbar-mamy">
  <!-- Logo -->
  <a href="index.html" class="navbar-mamy-brand">
    <img src="images/mamy-logo.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-mamy-right hidden-xs hidden-sm">
    <p><span><a href="#services" class="navbar-mamy-item navbar-mamy-link">SERVICES</a></span></p>
    <p><span><a href="#team" class="navbar-mamy-item navbar-mamy-link">TEAM</a></span></p>
    <p><span><a href="#contact" class="navbar-mamy-item navbar-mamy-link btn-square">CONTACT</a></span></p>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-mamy-item hidden-md hidden-lg">
    <div class="dropdown">
     <i class="fa fa-bars dropdown-toggle" class="navbar-toggle collapsed" data-toggle="modal" data-target="#nav-modal" aria-expanded="false"></i>
     <div class="modal fade" id="nav-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-nav-content">
          <div class="modal-nav-body">
            <ul>
              <li><a href="#services">Services</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>



