<div class="row bigpadding" id="contact">

  <div class="col-xs-12 col-sm-6 text-center allpad" id="contact">
    <ul>
      <li class="title">New Business</li>
      <div class="contact">
        <li>+32 486 98 80 03</li>
        <li><a class="black" href="mailto:hello@mamy.studio?Subject=New%20Business" target="_top"><span>hello@mamy.studio</span></a></li>
      </div>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6 text-center allpad">
    <ul>
      <li class="title">General Enquiries</li>
      <div class="contact">
        <li>+32 485 36 76 49</li>
        <li><a class="black" href="mailto:hello@mamy.studio?Subject=General%20Enquiries" target="_top"><span>hello@mamy.studio</span></a></li>
      </div>
    </ul>
  </div>

</div>
