<p class="left-pad">OUR SERVICES</p>
<div class="row">
  <div class="col-xs-2"><%= image_tag "mamy-design.png", class: "img-services" %></div>
  <div class="col-xs-10">
    <ul class="list">
      <li>Service Design & UX</li>
      <li>Digital Brand & Creative</li>
      <li>Visual & UI design</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"><%= image_tag "mamy-dev.png", class: "img-services" %></div>
  <div class="col-xs-10">
    <ul class="list">
      <li>Web development</li>
      <li>Hosting, Maintenance & Support</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"><%= image_tag "mamy-seo.png", class: "img-services" %></div>
  <div class="col-xs-10">
    <ul class="list">
      <li>Data & Analytics</li>
      <li>Paid advertising management</li>
      <li>Digital Strategy</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"><%= image_tag "mamy-content.png", class: "img-services" %></div>
  <div class="col-xs-10">
    <ul class="list">
      <li>Content Strategy</li>
      <li>Creative content production</li>
    </ul>
  </div>
</div>
