<p class="left-pad">OUR SERVICES</p>
<ul>
  <li>Digital Strategy</li>
  <li>Content Strategy</li>
  <li>Data & Analytics</li>
  <li>Paid advertising management</li>
  <li>Platform management</li>
  <li>Creative content production</li>
  <li>Service Design & UX</li>
  <li>Digital Brand & Creative</li>
  <li>Visual & UI design</li>
  <li>Hosting, Maintenance & Support</li>
</ul>
