<div class="row hidden-xs hidden-sm">

  <div class="col-xs-12 col-sm-6 text-center blue relative team flex" id="team">
    <img class="img-team" src="images/mamy-ma.png" alt="mamy-ma">
    <div class="card-link flex">
      <ul>
        <li><h1>Manon Champredon</h1></li>
        <li><h2>Art Director & Ad Expert</h2></li>
        <li>
          <ul class="list-inline">
            <li><a target="_blank" href="https://be.linkedin.com/in/manon-champredon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://fr.pinterest.com/nounma/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="http://www.behance.net/nounma"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://github.com/nounma"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center pink relative team flex">
    <img class="img-team" src="images/mamy-my.png" alt="mamy-my">
    <div class="card-link flex">
      <ul>
        <li><h1>My Kim Bui</h1></li>
        <li><h2>Designer & Developer</h2></li>
        <li>
          <ul class="list-inline">
            <li><a target="_blank" href="https://www.linkedin.com/in/my-kim-bui-91a8645a/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://fr.pinterest.com/mykilicious/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://mykimbui.herokuapp.com/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://github.com/mykimbui"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row hidden-md hidden-lg">

<div class="col-xs-12 col-sm-6 text-center pink relative team flex" id="team">
    <ul>
      <li><h1>Manon Champredon</h1></li>
      <li><h2>Art Director & Ad Expert</h2></li>
      <li>
        <ul class="list-inline">
          <li><a href="https://be.linkedin.com/in/manon-champredon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="https://fr.pinterest.com/nounma/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          <li><a href="http://www.behance.net/nounma"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/nounma"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6 text-center blue relative team flex">

    <ul>
      <li><h1>My Kim Bui</h1></li>
      <li><h2>Designer & Developer</h2></li>
      <li>
        <ul class="list-inline">
          <li><a href="https://www.linkedin.com/in/my-kim-bui-91a8645a/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="https://fr.pinterest.com/mykilicious/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          <li><a href="https://mykimbui.herokuapp.com/"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/mykimbui"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>



