<p class="vertical-text">MAMY STUDIO</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mamy studio is a creative technology & design studio, creating and collaborating on work for clients.</h2>
      <a href="" class="">Demander un devis</a>
    </div>
  </div>
  <div class="row">
   <div class="col-xs-12 col-sm-6">
     <h3>“If you think good design is expensive, you should look at the cost of bad design.”</h3>
     <p>– Ralf Speth</p>
     <h3>Interested in working with us? Get in touch x 😉</h3>
     <a href="" class="">Demander un devis</a>
   </div>
   <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "mamy-design.png", class: "img-services" %>
      </div>
      <div class="col-xs-10">
        <h4>Design & Branding</h4>
        <p>Don't go to bed, with no price on your head. No, no, don't do it. Fon't do the crime, if you can't do the time, yeah, don't do it.</p>
      </div>
    </div>
    <h3>

      Web development
      SEO & référencement

      Consulting & Strategy
      Responsive design

      Branding

      Création de contenu</h3>
    </div>

  </div>
</div>
